# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Test files in libft ( why not ? )
libft/test
libft/test/*

# Vim swaps ( cus he cant build a correct vimrc)
*.swp
*.vim
21sh
42sh
minishell
.*history
